.sort{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 0;
}
.sort_but{
    margin: 0 10px;
}
.conf_buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.incorrect{
    border-color: red;
}
.incorrect.valid{
    text-align: center;
    color: red;
    margin-top: 10px;
}
.errsWarning{
    background-color: yellow;
}
.errsCritical{
    background-color: red;
}
.b-container{
    display: block;
}
.errs{
    margin: 50px 0;
}
.pagi-list{
    display: flex;
    justify-content: center;
}
.pagi-list button{
    margin: 0 10px;
}